.content {
  margin-top: 15%;
  text-align: center;
}
.header {
  width: 100%;
  background-color: aqua;
  height: 3rem;
}

.header-item {
  font-size: 20px;
  width: 8%;
  margin-top: 0.5%;
  margin-right: 3%;
  text-align: center;
  float: right;
}
.dasboardContent {
  text-align: center;
  font-size: 20px;
}
img {
  width: 100%; /*or 70%, or what you want*/
  height: 600px; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lebelName {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}
.inputBox {
  margin-left: 7%;
  border: none;
  width: 70%;
  height: 40px;
  border-radius: 25px;
  padding-left: 5%;
}
.ml {
  margin-left: 3%;
}
.input {
  margin-bottom: 7%;
}
.button {
  height: 40px;
  width: 40%;
  background-color: rgb(153, 137, 107);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
